%ol
- @tasks_by_state.each do |state, task_teams|
  - if task_teams.present?
    %li
      = Task.textify_state(state)
      %ol
        - task_teams.each do |task_team|
          %li{id: task_team.id}
            = link_to h(task_team.task.name), task_path(task_team.task)
            = " (#{task_team.task.kind.try(:name)})"
            != '&emsp;&emsp;'
            - if edit
              = link_to t(:remove), task_team_path(task_team), method: :delete, remote: true, data: {confirm: t(:are_you_sure)}
            %br
      %br

- if edit
  %div{style: 'margin-right:150px;'}
    = t(:add)
    = autocomplete_field_tag :task, '', autocomplete_task_title_path, 'data-noMatchesLabel' => t(:no_matches_found), id: 'tterm', style: 'width:400px;', id_element: '#task_id'
    = hidden_field_tag :task_id
    = button_tag t(:perform_add), id: "add_task", type: :button
    %br

:javascript
  $(document).ready(function() {
    $("#add_task").click(function() {
      $.post("#{task_teams_path}", {task_team: {task_id: $("#task_id").val(), team_id: #{@team.id}}});
    });
  });