%h1= t('.title')

%table
  %thead
    %tr
      %th= t('activerecord.attributes.team.name')
      %th= t('activerecord.attributes.team.description')
      %th= t('.team_leads')
      %th= t('.number_of_users')
      %th= t('activerecord.attributes.team.open')
      %th= t('.number_of_tasks')
      %th= t('.number_of_tasks_assigned')
      %th= t('.number_of_tasks_approved')
      %th= t('.progress')
      %th= t('activerecord.attributes.team.targetdate')
      - if current_user.is_admin?
        %th= t('.actions')

  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to team.name, team
        %td= team.description
        %td
          - team.team_leads.each do |team_lead|
            = team_lead.name
            %br
        %td= team.users.count
        %td= team.open? ? t('yes') : t('no')
        - total = team.tasks.count
        - done = team.tasks.approved.count + team.tasks.other_task_creat.count
        %td= total
        %td= team.tasks.assigned.count
        %td= done.to_s
        %td= done > 0 ? "#{(done.to_f / total.to_f * 100).round(2)}%" : ""
        %td= team.targetdate
        - if current_user.is_admin?
          %td
            = link_to t(:edit), edit_team_path(team)
            = ' | '
            = link_to t(:delete), team, method: :delete, data: { confirm: t(:are_you_sure) }

%br
- if current_user.is_admin?
  = link_to t('.new'), new_team_path
