%p#notice= notice

%h1#team_show= "#{t(:team)}: #{@team.name}"
%p
  = @team.description
%h2= t(:stats)
%ul
  %li
    = t('.members_count', count: @team.team_memberships.count)
    - if @team.has_member?(current_user)
      %span{id: @team.team_memberships.where(user_id: current_user.id).first.id, style: 'background-color: lightgreen;'}= t('.including_you')
  %li= t('.tasks_count', count: @team.tasks.count)
  %li= t('.completed_count', count: @team.tasks.approved.count + @team.tasks.other_task_creat.count)
= render partial: 'memberships', locals: {edit: false}

- if current_user && current_user.is_admin?
  %hr
  %div{style: 'margin-right: 15px;'}
    %h2= t('.mass_message')
    = form_tag mass_message_team_path(@team), method: :post do
      = text_area_tag :message
      = submit_tag t(:submit)
  = link_to t(:edit), edit_team_path(@team)
\|
= link_to t(:back), teams_path
