= semantic_form_for(@user_session, :url => user_session_path) do |f|
  = f.semantic_errors
  = f.inputs do
    != f.input :email, :label => _("Email")
    != f.input :password, :label => _("Password")
    != f.input :remember_me, :label => _("Remember me"), :as => :boolean, :input_html => {:checked => true}, :required => false
  != f.submit _("login"), {:class => "purple-button gradient" }

%br
%br
%a{ :href=> new_password_path }
  != _("Forgot Password")
%br

