!= render(:partial => "tasks/description")

= semantic_form_for(@task, :live_validations => false, :url => task_assignment_path(@task), :method => :put) do |f|
  = f.inputs :name => I18n.t('gettext.change_assignments') do
    != f.input :assignee, :as => :select, :collection => User.not_on_break.order("name asc"), :label => I18n.t('gettext.assignee')
    != f.input :editor, :as => :select, :collection => User.all_editors.order("users.name"), :label => I18n.t('gettext.editor')
  != f.submit I18n.t('gettext.assign')
  != link_to I18n.t('gettext.back_to_task'), task_path(@task)
