.boxbody
  %b
    = _("Task kind")+": "
  = @task.kind.try(:name)
  %br
  %b
    = _("Nikud")+": "
  = textify_full_nikud(@task)
  %br
  %b
    = _("Source")+": "
  = @task.source
  %br
  %b
    = _("Rashi")+": "
  = textify_rashi(@task)
  %br
  %b
    = _("Difficulty")+": "
  = Task.textify_difficulty(@task.difficulty)
  %br
  %b
    = _("Priority")+": "
  = Task.textify_priority(@task.priority)
.midtitle
  .boxbody
    = _("Status and allocation")
.boxbody
  .status
    %b
      = _("Status")
    = Task.textify_state(@task.state)
  .assignees
    %table
      %tr
        %td.vtop
          %b
            = _("Assignee:")
        %td.sp20
          - if @task.assignee
            != render(:partial => "users/brief", :locals => {:brief_title => _("Assignee:"), :user => @task.assignee, :email_link => link_to_task_participant_email(@task, :assignee, _("Send Email to Assignee"))})
        %td.vtop
          %b
            = _("Editor:")
        %td.sp20
          - if @task.editor
            != render(:partial => "users/brief", :locals => {:brief_title => _("Editor:"), :user => @task.editor, :email_link => link_to_task_participant_email(@task, :editor, _("Send Email to Editor"))})
        %td
          - unless @skip_assignment_links
            - when_editor_or_admin do
              %a.purple-button.gradient{ :href => edit_task_assignment_path(@task) }
                %span
                  != _("change assignments")
- when_editor_or_admin do
  - unless @task.children.blank?
    .midtitle
      .boxbody
        = _("Chained tasks")
    .boxbody
      %b
        = _("Chained tasks")+": "
      - @task.children.each do |c|
        != link_to(h(c.name), task_path(c))
  - if @task.parent
    .midtitle
      .boxbody
        = _("Parent task")
    .boxbody
      %b
        = _("Parent task")+": "
      != link_to(h(@task.parent.name), task_path(@task.parent))
