-#!= render(:partial => "tasks/editor_simple_actions", :locals => {:task => @task})
%div
  - if @task.approved? || @task.kind_id == 61 # hardcoded value for technical editing # TODO: replace with enum instead of DB values
    .float-right
      %a.green-button#start_ingestion{ :href => '#', :style => "padding:0px;" }
        %span
          = t(:start_ingestion)
  - @task.simple_editor_events.each do |e|
    .float-right
      %a.purple-button.gradient{ :href => task_path(@task, :event => e), "data-method" => :put, "data-confirm" => _('Are you sure?'), :style => "padding:0px;" }
        %span
          != textify_event(e)
  .float-right
    != commentable_event_form("reject")
  .float-right
    != commentable_event_form("help_required")
  .float-right
    %a.purple-button.gradient{ :href => task_path(@task)+'/make_comments_editor_only' }
      %span
        = _("Make comments editor-only")
  - if @task.can_create_new_task?
    .float-right.purple-button.gradient{ :style => "padding:0px;", :id => "new_task_link"}
      %span
        != link_to_function _("Create new task based on this one"), toggle_chained_js, :style=>"color:white;text-decoration:none"
  #new_task_container{:style => "display:none"}
    %div{style:'padding-bottom:30px'}
    .box
      .boxhead
        = _("Create new task based on this one")
      .boxcontainer
        .boxbody
          != render(:partial => "tasks/new_chain_task")

:javascript
  $(document).ready(function() {
    $("#start_ingestion").click(function(e) {
      e.preventDefault();
      $.get("#{task_path(@task)}/start_ingestion");
    });
  });