= f.inputs :name => s_("task section|General") do
  = f.input :name, :required => true, :label => _("Name"), :input_html => {:class => 'span-13'}
  - if defined? newkind
    = f.input :kind, :as => :select, :collection => task_kinds_for_select, :required => true, :label => _("Kind"), :selected => newkind
  - else
    = f.input :kind, :as => :select, :collection => task_kinds_for_select, :required => true, :label => _("Kind")
  - if current_user && current_user.is_admin?
    = link_to _("Manage Kinds"), "#", :id => "manage_kinds"
  = f.input :genre, :as => :select, :collection => Task.genres.keys.map{|g| [g, g]}, :label => 'סוגה'
  = f.input :independent, :as => :boolean, :label => 'אפשר להעלות בנפרד?'
  = f.input :include_images, :as => :boolean, :label => 'מותר להעלות תמונות?'
  = f.input :source, :label => 'פרטי מהדורה (מהדורה [אם יש], עיר: מו"ל, שנה)', :input_html => {:class => 'span-13'}
  - if current_user && current_user.is_admin?
    %h4= t('.teams')
    %ol
    - @task.task_teams.each do |task_team|
      %li{id: task_team.id}
        = link_to task_team.team.name, team_path(task_team.team)
        = link_to t(:remove), task_team_path(task_team), method: :delete, remote: true, data: {confirm: t(:are_you_sure)}
      %br
    = t(:add)
    = select_tag :add_team_id, options_from_collection_for_select(Team.where.not(id: @task.teams.pluck(:id)).order(:name), :id, :name), include_blank: 'בחר צוות'
    = button_tag t(:perform_add), id: "add_team", type: :button
    %br

    = link_to t('.manage_teams'), teams_path
  %p
  = f.collection_select :project_id, Project.where(status: 'פעיל').order(:name), :id, :name, {include_blank: 'שיוך למיזם', selected: @task.project_id}
  /= f.input :project, as: :select, collection: Project.where(status: 'פעיל'), selected: @task.project, label: 'מיזם'
  - if current_user && current_user.is_admin?
    = link_to 'ניהול מיזמים', projects_path
  /= f.input :difficulty, :as => :select, :collection => task_difficulties_for_select, :required => true, :label => _("Difficulty")
  /= f.input :priority, :as => :select, :collection => task_priorities_for_select, :required => true, :label => _("Priority")
  = f.input :full_nikkud, :as => :boolean, :label => _("Full Nikkud")
  = f.input :hours, :label => _("Hours spent")+' '

:javascript
  var index_html = '#{escape_javascript(render(:template => "admin/task_kinds/index"))}';
  $(function(){
    $("#manage_kinds").click(function(){
      $.modal(
        index_html,
        {
          close: true,
          opacity: 80,
          overlayCss: {backgroundColor:"black"},
          containerCss:{
            borderColor:"#fff",
            padding:10,
            width:300
          },
          overlayClose:true
        }
      );
      return false;
    });
  });
  $(document).ready(function() {
    if($('#task_kind_id').val() == '') {
      $('#task_kind_id').val('1'); // default to typing
    }
    $("#add_team").click(function() {

      $.post("#{task_teams_path}", {task_team: {team_id: $("#add_team_id").val(), task_id: #{@task.id}}}).done(
        function(data) {
          location.reload();
        }
      );
    });

  });
