- # encoding: utf-8
- child_task = @chained_task || @task.clone
= semantic_form_for(child_task, :live_validations => false, :url => tasks_path(:id => @task.id), :method => :post) do |f|
  != f.semantic_errors
  != render(:partial => "tasks/form", :locals => {:f => f, :newkind => TaskKind.find_by_name('הגהה').id})
  = f.inputs do
    != f.semantic_fields_for :comments, (@comment ||= child_task.comments.build) do |comment|
      != comment.input :message, :as => :text, :input_html => {:class => "comment_message #{!@comment.errors.blank? && 'active activated'}"}, :label => _("Message")
      - when_editor_or_admin do
        != comment.input :editor_eyes_only, :label => _("Editor eyes only")
  != f.submit _("Create"), :id => "create_chained", :disable_with => _("Please wait..."), :class => 'purple-button gradient finish_task_button'
  %span.sp20
    &nbsp;
  .gray-button
    %span
      != link_to_function _("cancel"), toggle_chained_js, :style => "color:#565253"
