%tr{:class => cycle("odd", "even")}
  %td.first.style4!= link_to h(task.name), task_path(task)
  - if editing
    %td!= person_link(task.assignee)
  %td.style12= task.kind.try(:name)
  - if defined? stalled and stalled
    %td= _("%{time} ago") % {:time => time_ago_in_words(task.updated_at)}
  - else
    %td.style7= Task.textify_state(task.state)
  / %td!= link_to h(task.name), task_path(task)
  / %td= task.kind.try(:name)
  / %td!= person_link(task.editor)
  / %td= Task.textify_state(task.state)
  / %td= task.documents_count
  / %td!= render(:partial => "tasks/task_actions", :locals => {:task => task})
  %td.style12= task.documents_count
  %td.style7= "#{task.percent_done}%"
  %td.first.style11
    %ul.links
      != render(:partial => "tasks/task_actions", :locals => {:task => task})
