- if @tasks.blank?
  = _("No Tasks found")
- else
  .right
    %h4= _("Assign a task to %{user_name}") % {:user_name => h(@assignee.name)}
    - if @assignee.teams.any?
      %strong= t('tabs.teams')+': '
      %span{style: 'background-color: yellow'}= @assignee.teams.pluck(:name).join('; ')
    - else
      %p= t('teams.none')
    - prefs = @assignee.volunteer_preferences
    - if prefs.present?
      %strong= t(:volunteer_prefs)+': '
      %span{style: 'background-color: blanchedalmond'}= prefs
    = form_tag(tasks_path, params.merge(:method => :get, :remote => true)) do
      = label_tag :kind, I18n.t('gettext.kind')
      = select_tag :kind, options_for_select([""] + task_kinds_for_select(:name), params[:kind] || 'הקלדה')
      = label_tag :genre, 'סוגה'
      = select_tag :genre, options_for_select([""] + Task.genres.keys.map{|x| [x,x]}, params[:genre])
      = label_tag :team, 'צוות'
      = select_tag :team, options_for_select([""] + Team.all.map{|x| [x.name, x.id]}, params[:team])
      = label_tag :full_nikkud, I18n.t('gettext.full_nikkud')
      = select_tag :full_nikkud, options_for_select({"" => "", I18n.t('gettext.true') => "true", I18n.t('gettext.false') => "false"}, params[:full_nikkud])
      != '<input type="hidden" name="assignee_id" value="%{a}"/>' % {:a => @assignee.id}
      != '<input type="hidden" name="per_page" value="15"/>'
      = submit_tag _("Filter")
  %table.list
    %tr
      %th &nbsp;
      %th= I18n.t('gettext.name')
      %th= 'סוגה'
      %th= I18n.t('gettext.kind')
      %th= I18n.t('gettext.state')
      %th= _("Files")
      %th &nbsp;

    != render(:partial => "unassigned_task", :collection => @tasks)

  != will_paginate(@tasks)
