- if @tasks.blank?
  = _("No Tasks found")
- else
  .right
    %h4= _("Assign a task to %{user_name}") % {:user_name => h(@assignee.name)}
    = form_tag(tasks_path, params.merge(:method => :get, :remote => true)) do
      = label_tag :kind, _("Kind")
      = select_tag :kind, options_for_select([""] + task_kinds_for_select(:name), params[:kind] || 'הקלדה')
      = label_tag :full_nikkud, _("Full Nikkud")
      = select_tag :full_nikkud, options_for_select({"" => "", _("true") => "true", _("false") => "false"}, params[:full_nikkud])
      != '<input type="hidden" name="assignee_id" value="%{a}"/>' % {:a => @assignee.id}
      != '<input type="hidden" name="per_page" value="15"/>'
      = submit_tag _("Filter")
  %table.list
    %tr
      %th &nbsp;
      %th= _("Name")
      %th= 'סוגה'
      %th= _("Kind")
      %th= _("State")
      %th= _("Files")
      %th &nbsp;

    != render(:partial => "unassigned_task", :collection => @tasks)

  / != will_paginate(@tasks, :renderer => 'RemoteLinkRenderer')
  != will_paginate(@tasks, params.merge(:renderer => RemoteLinkPaginationHelper::LinkRenderer))
