- if @tasks.blank?
  = _("No Tasks found")
- else
  .right
    %h4= _("Assign a task to %{user_name}") % {:user_name => h(@assignee.name)}
    - if @assignee.teams.any?
      %strong= t('tabs.teams')+': '
      %span{style: 'background-color: yellow'}= @assignee.teams.pluck(:name).join('; ')
    - else
      %p= t('teams.none')
    - prefs = @assignee.volunteer_preferences
    - if prefs.present?
      %strong= t(:volunteer_prefs)+': '
      %span{style: 'background-color: blanchedalmond'}= prefs
    = form_tag(tasks_path, params.merge(:method => :get, :remote => true)) do
      = label_tag :kind, _("Kind")
      = select_tag :kind, options_for_select([""] + task_kinds_for_select, params[:kind] || 'הקלדה')
      = label_tag :genre, 'סוגה'
      = select_tag :genre, options_for_select([""] + Task.genres.keys.map{|x| [x,x]}, params[:genre])
      = label_tag :team, 'צוות'
      = select_tag :team, options_for_select([""] + Team.all.map{|x| [x.name, x.id]}, params[:team])
      = label_tag :full_nikkud, _("Full Nikkud")
      = select_tag :full_nikkud, options_for_select({"" => "", _("true") => "true", _("false") => "false"}, params[:full_nikkud])
      != '<input type="hidden" name="assignee_id" value="%{a}"/>' % {:a => @assignee.id}
      != '<input type="hidden" name="per_page" value="15"/>'
      = submit_tag _("Filter")
  %table.list
    %tr
      %th &nbsp;
      %th= link_to _("Name"), modal_sort_path(order_by: { property: 'tasks.name', dir: modal_sort_dir_for('tasks.name') }), data: { remote: true }
      %th= link_to 'סוגה', modal_sort_path(order_by: { property: 'genre', dir: modal_sort_dir_for('genre') }), data: { remote: true }
      %th= link_to _("Kind"), modal_sort_path(order_by: { property: 'tasks.kind_id', dir: modal_sort_dir_for('tasks.kind_id') }), data: { remote: true }
      %th= link_to _("State"), modal_sort_path(order_by_state: { dir: modal_state_sort_dir }), data: { remote: true }
      %th= link_to _("Files"), modal_sort_path(order_by: { property: 'documents_count', dir: modal_sort_dir_for('documents_count') }), data: { remote: true }
      %th &nbsp;

    != render(:partial => "unassigned_task", :collection => @tasks)

  != will_paginate(@tasks)
