- set_tab :dashboard, false

!= link_to _("back to dashboard"), dashboard_path

.task-title
  %b
    = _("Task title")+": "
  = @task.name
  - when_admin do
    %a.purple-button.gradient{ :href => edit_admin_task_path(@task) }
      %span
        != _("Edit")
.box
  .boxhead
    %b
      = _("Task details")
  .boxcontainer
    != render(:partial => "description")
    %br
    .midtitle
      .boxbody
        = _("Attached documents")
    .boxbody
      %table
        %tr
          %td.vtop
            %b
              = _("Instructions")+": "
          %td.instructions
            != auto_link(@task.instructions)
      %a.purple-button.gradient{ :href => 'https://old.benyehuda.org/h_typing.html', :target => '_new'}
        %span
          = _("Standard instructions")
      %br
      %br

      != render(:partial => "documents", :locals => {:documents => @task.documents})
      != render(:partial => "new_document")

-#- @task.task_properties.visible_for(current_user).each do |p|
-#  %p
-#    %strong= "#{p.property.title}:"
-#    != property_value(p)
- if @task.assignee?(current_user)
  != render(:partial => "assignee_events")
%br
%hr
!= render(:partial => "comments/index", :locals => {:comments => @comments})
%hr
- if @task.editor?(current_user) or current_user.is_editor?
  != render(:partial => "editor_events")
%br
%br
- when_editor_or_admin do
  .box
    != render(:partial => "audits/index")
