!= render(:partial => "tasks/form", :locals => {:f => f})

= f.inputs do
  != f.input :assignee, :as => :select, :collection => User.all_volunteers.order("users.name"), :label => I18n.t('gettext.assignee')
  != f.input :editor, :as => :select, :collection => User.all_editors.order("users.name"), :label => I18n.t('gettext.editor')

  != f.input :admin_state, :label => I18n.t('gettext.state'), :as => :select, :collection => task_states_for_select

%br
= f.inputs :name => I18n.t('task_section.task_settings') do
  - custom_properties_fields(f, "task")

:javascript
  $(document).ready(function() {
    $("<span> </span> <a class=\"purple-button gradient\" id=\"copy_source\" href=\"#\"> <span>העתק מהמשימה האחרונה</span></a>").insertAfter('#task_source');
    $('#copy_source').click(function(e){
      e.preventDefault();
      $.get('/get_last_source');
    });
  })