!= render(:partial => "tasks/form", :locals => {:f => f})

= f.inputs do
  != f.input :assignee, :as => :select, :collection => User.all_volunteers.order("users.name"), :label => _("Assignee")
  != f.input :editor, :as => :select, :collection => User.all_editors.order("users.name"), :label => _("Editor")

  != f.input :admin_state, :label => _("State"), :as => :select, :collection => task_states_for_select

%br
= f.inputs :name => s_("task section|Task Settings") do
  = f.input :instructions, :as => :text, :label => _("Instructions"), :input_html => {:class => 'span-13'}
  = f.input :orig_lang, :label => _("Original Language"), :input_html => {:class => 'span-13'}
  = f.input :rashi, :as => :boolean, :label => _("Rashi script")


:javascript
  $(document).ready(function() {
    $("<span> </span> <a class=\"purple-button gradient\" id=\"copy_source\" href=\"#\"> <span>העתק מהמשימה האחרונה</span></a>").insertAfter('#task_source');
    $('#copy_source').click(function(e){
      e.preventDefault();
      $.get('/get_last_source');
    });
  })