!= render(:partial => "tasks/form", :locals => {:f => f})

= f.inputs do
  != f.input :assignee, :as => :select, :collection => User.all_volunteers.order("users.name"), :label => _("Assignee")
  != f.input :editor, :as => :select, :collection => User.all_editors.order("users.name"), :label => _("Editor")

  != f.input :admin_state, :label => _("State"), :as => :select, :collection => task_states_for_select

%br
= f.inputs :name => s_("task section|Task Settings") do
  - custom_properties_fields(f, "task")

:javascript
  $(document).ready(function() {
    $("<span> </span> <a class=\"purple-button gradient\" id=\"copy_source\" href=\"#\"> <span>העתק מהמשימה האחרונה</span></a>").insertAfter('#task_task_properties_131__custom_value'); // horrible hard-coding, to avoid dealing with the custom properties code
    $('#copy_source').click(function(e){
      e.preventDefault();
      $.get('/get_last_source');
    });
  })