.box
  .boxhead
    = _("Search/Filter")
  .boxcontainer
    .boxbody
      = form_tag(url_for(params.permit!), :method => :get) do
        = label_tag :invert_state, _("invert state?")
        = check_box_tag :invert_state, "true", "true" == params[:invert_state]
        = label_tag :state, I18n.t('gettext.state')
        = select_tag :state, options_for_select([""] + task_states_for_select, params[:state])
        = label_tag :full_nikkud, I18n.t('gettext.full_nikkud')
        = select_tag :full_nikkud, options_for_select([['',''], ['לא', 'false'], ['כן', 'true']], params[:full_nikkud])
        = label_tag :kind, I18n.t('gettext.kind')
        = select_tag :kind, options_for_select([""] + task_kinds_for_select(:name), params[:kind])
        = label_tag :difficulty, I18n.t('gettext.difficulty')
        = select_tag :difficulty, options_for_select([""] + task_difficulties_for_select, params[:difficulty])
        = label_tag :length, _("Length")
        = select_tag :length, options_for_select([""] + task_length_for_select, params[:length])
        = label_tag :priority, I18n.t('gettext.priority')
        = select_tag :priority, options_for_select([""] + task_priorities_for_select, params[:priority])
        %br
        = label_tag :genre, 'סוגה'
        = select_tag :genre, options_for_select([""] + Task.genres.keys.map{|x| [x,x]}, params[:genre])
        = label_tag :project, 'מיזם'
        = select_tag :project, options_for_select([""] + Project.all.map{|x| [x.name, x.id]}, params[:project])
        = label_tag :team, 'צוות'
        = select_tag :team, options_for_select([""] + Team.all.map{|x| [x.name, x.id]}, params[:team])
        = label_tag :independent, 'אפשר להעלות בנפרד?'
        = check_box_tag :independent, 'true', 'true' == params[:independent]
        = label_tag :include_images, 'מותר להעלות תמונות?'
        = check_box_tag :include_images, 'true', 'true' == params[:include_images]
        %br
        = label_tag :query, 'שאילתה (כותרת משימה ו/או שם הוצאה)'
        = text_field_tag :query, params[:query]
        = submit_tag _("Filter")
        = link_to _("All"), admin_tasks_path(:all => true)
