%h1= _("Recent Changes")
%table
  %tr
    %th= _('Task title')
    %th= _('Changes')
  - @ordered_changes.each do |chg|
    - task_id = chg
    - changes = @changes[chg]
    %tr
      - t = Task.find_by_id(task_id)
      - if t.nil?
        - tname = "ERROR"
        - tpath = ''
      - else
        - tname = h(t.name)
        - tpath = task_path(t)
      %td= link_to h(tname), tpath
      %td
        %tr
          %th= _('Last Updated')
          %th= _('Volunteer')
          %th= _('Changes')
        - changes.each do |c|
          %tr
            %td= time_ago_in_words(c.updated_at)
            - if c.user
              - u = "#{c.user.name}"
              %td= link_to(h(u), user_path(c.user))
            - else
              %td= '?'
            %td= c.long_messages.join("; ")
    %tr
      %td{:colspan => 3}
        %hr
!= will_paginate(@raw_changes)
