= set_tab :tasks_admin, _("Edit Task")

= semantic_form_for(@task, :live_validations => true, :url => admin_task_path(@task)) do |f|
  = f.inputs do
    = f.semantic_errors
  != render(:partial => "form", :locals => {:f => f})
  = f.inputs do
    != f.submit I18n.t('gettext.save')
    != link_to I18n.t('gettext.cancel'), admin_tasks_path

