- unless no_pagination
  != will_paginate(@users)

%table.list
  %tr.title
    %th= _("ID")
    %th= I18n.t('gettext.name')
    %th= I18n.t('gettext.email')
    %th= _("Volunteer")
    %th= I18n.t('gettext.editor')
    %th= _("Admin")
    %th= _("Activation email sent")
    %th= _("Activated")
    %th= _("Last Login")
    %th &nbsp;
    %th &nbsp;
    %th &nbsp;
  != render :partial => @users

- unless no_pagination
  != will_paginate(@users)
