.box#public_profile
  .boxhead
    = _("User details")
  .boxcontainer
    .boxbody
      != render(:partial => "info")
      %p
        %strong= _("Roles")
        = user_roles(@user.public_roles)
      %p
        %strong= _("Registered since")
        - if @user.activated_at
          = @user.activated_at.strftime("%Y-%m-%d")
        - else
          = _("Not activated yet")

      %p
        %strong= _("Email Notifications")
        = email_notifications(@user)

    .midtitle
      = _("User Properties")
    .boxbody
      - @user.user_properties.visible_for(current_user).each do |p|
        %p
          %strong= "#{p.property.title}:"
          != property_value(p)

    - when_user_volunteer do
      .midtitle.teams
        %h4= t('tabs.teams')
      .boxbody
        %b= link_to t(:to_all_teams), '/teams'
        %ul
          - @user.team_memberships.each do |tm|
            %li{id: tm.id}
              %strong= link_to tm.team.name, team_path(tm.team)
              != "&emsp;&emsp;&emsp;&emsp;&emsp;"
              = link_to t('teams.leave'), leave_team_membership_path(tm), method: :delete, remote: true, data: {confirm: t(:are_you_sure)}, style: 'color:red;'
        %br
        = select_tag :team_ids, options_from_collection_for_select(Team.open.where.not(id: @user.teams.pluck(:id)).order(:name), :id, :name), include_blank: t('teams.choose_team')
        = button_tag t('teams.join'), id: "add_team", type: :button
        #team_description{style: 'background-color:lightgreen;'}

    - when_user_volunteer do
      .midtitle
        = _("Volunteer Properties")
      .boxbody
        - @user.volunteer_properties.visible_for(current_user).each do |p|
          %p
            %strong= "#{p.property.title}:"
            != property_value(p)

    - when_user_editor do
      .midtitle
        = _("Editor Properties")
      .boxbody
        - @user.editor_properties.visible_for(current_user).each do |p|
          %p
            %strong= "#{p.property.title}:"
            != property_value(p)

.box
  .boxhead
    = _("Assignments History")
  .boxcontainer
    .boxbody
      != render(:partial => "assignment_histories/assignment_history", :collection => @user.assignment_histories.rev_order.with_task.recent(5))
      != link_to _("more &raquo;").html_safe, user_assignment_histories_path(@user)

:javascript
  $(document).ready(function() {
    $("#add_team").click(function() {
      $.post("#{team_memberships_path}", {team_membership: {team_id: $("#team_ids").val(), user_id: #{@user.id}}})
        .done(function(data) {
          location.reload();
        });
    });
    var teams = {
      #{Team.open.where.not(id: @user.teams.pluck(:id)).map { |t| "#{t.id}: '#{j(t.description)}'" }.join(",\n")}
    };
    $('#team_ids').change(function() {
      $('#team_description').text(teams[$(this).val()]);
    });
  });