.box
  .boxhead
    = _("User details")
  .boxcontainer
    .boxbody
      != render(:partial => "info")
      %p
        %strong= _("Roles")
        = user_roles(@user.public_roles)
      %p
        %strong= _("Registered since")
        - if @user.activated_at
          = @user.activated_at.strftime("%Y-%m-%d")
        - else
          = _("Not activated yet")

      %p
        %strong= _("Email Notifications")
        = email_notifications(@user)

    .midtitle
      = _("User Properties")
    .boxbody
      - @user.user_properties.visible_for(current_user).each do |p|
        %p
          %strong= "#{p.property.title}:"
          != property_value(p)

    - when_user_volunteer do
      .midtitle
        %h4= _("Preferences")
      .boxbody
        %p
          != @user.volunteer_request.try(:preferences)

    - when_user_volunteer do
      .midtitle
        = _("Volunteer Properties")
      .boxbody
        - @user.volunteer_properties.visible_for(current_user).each do |p|
          %p
            %strong= "#{p.property.title}:"
            != property_value(p)

    - when_user_editor do
      .midtitle
        = _("Editor Properties")
      .boxbody
        - @user.editor_properties.visible_for(current_user).each do |p|
          %p
            %strong= "#{p.property.title}:"
            != property_value(p)

.box
  .boxhead
    = _("Assignments History")
  .boxcontainer
    .boxbody
      != render(:partial => "assignment_histories/assignment_history", :collection => @user.assignment_histories.rev_order.with_task.recent(5))
      != link_to _("more &raquo;").html_safe, user_assignment_histories_path(@user)
