%tr{:class => cycle("odd", "even") + " " + user_css_class(user)}
  %td= user.id
  %td!= link_to(h(user.name), user_path(user))
  %td= user.email
  %td
    != boolean_property(user.is_volunteer)
    = user.kind.name unless user.kind.nil?
  %td!= boolean_property(user.is_editor)
  %td!= boolean_property(user.is_admin)

  %td!= activation_email_links(user)

  %td
    = user.activated_at
    - if user.on_break
      = ' '+I18n.t('gettext.on_break')
  %td= user.current_login_at ? (I18n.t('gettext.time_ago', time: time_ago_in_words(user.current_login_at))) : I18n.t('last_login.never')
  %td.edit!= link_to I18n.t('gettext.edit'), edit_user_path(user)
  - if user.is_volunteer?
    %td.delete!= link_to I18n.t('gettext.take_a_break'), url_for(controller: :users, action: :take_break, id: user.id)
  - if user.activated_at
    - if user.disabled_at
      %td.delete!= link_to I18n.t('gettext.enable'), user_path(user, :enable => true), :method => "delete"
    - else
      %td.delete!= link_to I18n.t('gettext.disable'), user, :method => "delete", :confirm => I18n.t('gettext.are_you_sure')
  - else
    %td &nbsp;
