%tr[property]{:class => cycle("odd", "even")}
  %td= property.parent_type
  %td!= link_to h(property.title), edit_property_path(property)
  %td= property.property_type
  %td= I18n.t('gettext.true') if property.is_public?
  %td= property.comment
  %td!= link_to I18n.t('gettext.delete'), property_path(property), :method => :delete, :confirm => I18n.t('gettext.are_you_sure')
