= set_tab :object_prefs, _("New Property")

= semantic_form_for(@property, :live_validations => true) do |f|
  = f.semantic_errors
  != render :partial => "form", :locals => { :f => f }
  != f.submit I18n.t('gettext.save')
  != link_to I18n.t('gettext.cancel'), properties_path
