%table
  %tr
    %td
      / login
      .box
        .boxhead
          %h2= _("Login")
        .boxcontainer  
          .boxbody
            != render(:partial => "user_sessions/new")
    %td
      / join
      .box
        .boxhead
          %h2= _("Want to join?")
        .boxcontainer  
          .boxbody
            != _("join pitch")
            %a.purple-button.gradient{ :href => signup_path }
              %span
                != _("To join")
            %br
            %br
  %tr
    %td
      / vol links 
      .box
        .boxhead
          %h2= _("Links for Volunteers")
        .boxcontainer  
          .boxbody
            %a{ :href => "https://old.benyehuda.org/h_typing.html" }
              = _("Typing Instructions")
            %br
            %a{ :href => "https://old.benyehuda.org/h_proof.html" }
              = _("Proofing Instructions")
            %br
            %a{ :href => "https://old.benyehuda.org/h_nikud.html" }
              = _("Nikud Instructions")
    %td
      / web links
      .box
        .boxhead
          %h2= _("General Links")
        .boxcontainer  
          .boxbody
            %a{ :href => "https://benyehuda.org/" }
              = _("Project Home")
            %br
            %a{ :href => "https://benyehuda.org/blog" }
              = _("Project blog")
            %br
            %a{ :href => "http://www.facebook.com/pages/%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%91%D7%9F-%D7%99%D7%94%D7%95%D7%93%D7%94/119140448124648" }
              = _("Facebook page")
