= set_tab :volunteer_requests, _("Volunteer Request from %{user_link}") % {:user_link => link_to(h(@volunteer_request.user.name), user_path(@volunteer_request.user))}

.block
  %p
    = _("Requested at:")
    = @volunteer_request.created_at.to_s(:db)

  %h4= I18n.t('gettext.preferences')
  %p!= auto_link(h(@volunteer_request.preferences))

.block
  %h4= I18n.t('gettext.other')
  - @volunteer_request.request_properties.visible_for(current_user).each do |p|
    %p
      %strong= "#{p.property.title}:"
      != property_value(p)

.block
  != confirm_button(@volunteer_request)
  != link_to I18n.t('gettext.back_to_volunteer_requests'), volunteer_requests_path