= set_tab :profile, I18n.t('gettext.change_password')

= semantic_form_for(@user, :url => password_path(@user.perishable_token), :method => :put, :live_validations => true) do |f|
  != f.input :password, :label => I18n.t('gettext.password')
  != f.input :password_confirmation, :label => I18n.t('gettext.password_confirmation')
  != f.submit password_edit_submit, :value => I18n.t('gettext.save')
