- set_tab :reports, _("Reports")

%ul
  %li
    = link_to _("Recent Changes"), admin_changes_path
  %li
    = link_to _("Stalled Tasks report"), report_stalled_path
  %li
    = link_to _("Inactive Volunteers report"), report_inactive_path
  %li
    = link_to _("Active Volunteers report"), report_active_path
  %li
    = link_to _("New Volunteers report"), report_newvols_path
  %li
    = link_to _("Volunteer hours report"), report_hours_path
  %li= link_to "דו\"ח משימות עם חוסרים במטא-דאטה", report_missing_metadata_path
  /%li
  /  = link_to _("Volunteers to Notify report"), report_vols_notify_path
