= set_tab :site_notices, _("New Site Notice")

= semantic_form_for @site_notice ||= SiteNotice.new, :html => {:method => :post}, :url => site_notices_path do |f|
  != render :partial => "form", :locals => { :f => f }
  != f.submit I18n.t('gettext.save')
  != link_to I18n.t('gettext.cancel'), site_notices_path
  
