.heading
  - set_tab :dashboard

- if current_user.might_become_volunteer?
  != button_to _("Become Volunteer"), new_volunteer_request_path, :method => :get

- when_editor do
  != render(:partial => "stats")

/ bar
.bar
  - when_admin do
    %strong.title
      - pending_volunteer_requests
  / add-nav
  %ul.add-nav
    - when_volunteer do
      %li
        #task_request
          - if current_user.task_requested_at.nil?
            %a.link1.edit{ :href => task_requests_path, "data-method" => :post, "data-remote" => :true }
              %span
                %em
                  != _("Request a Task")
          - else
            %span
              != render(:partial => "users/task_request")
    - when_editor do
      %li
        =link_to((_("Unassigned tasks (%{count})") % {:count => Task.unassigned.count}), tasks_path)
    - when_admin do
      %li
        %a.link1{ :href => new_admin_task_path }
          %span
            %em
              =_("New Task")

- when_admin do
  / block
  .block
    .head
      .l
        .c
          %h2= _("Volunteers waiting for tasks")+" (#{@waiting_volunteers.nil? ? "0" : @waiting_volunteers.length.to_s})"
    .container
      .t
        %span.l
          %span.c
      .m
        != render(:partial => 'waiting_volunteers')
      .b
        %span.l
          %span.c

!= render(:partial => "tasks/index", :locals => {:tasks => collection, :title => _("My Tasks"), :editing => false})

- when_editor do
  != render(:partial => "editor_dashboard")
  != render(:partial => "waiting_volunteers")
