%p#notice= notice

%p
  %b Joined:
  = @team_membership.joined
%p
  %b Left:
  = @team_membership.left
%p
  %b Team role:
  = @team_membership.team_role
%p
  %b Team:
  = @team_membership.team_id
%p
  %b User:
  = @team_membership.user_id

= link_to 'Edit', edit_team_membership_path(@team_membership)
\|
= link_to 'Back', team_memberships_path
