= stylesheet_link_tag 'blueprint/screen',  :media => "screen, projection"

- if hebrew_layout?
  = stylesheet_link_tag 'blueprint/plugins/rtl/screen',  :media => "screen, projection"

= stylesheet_link_tag 'blueprint/print',  :media => "print"
= stylesheet_link_tag 'blueprint/plugins/tabs/screen',  :media => "screen, projection"
= stylesheet_link_tag 'redmond/jquery-ui-1.7.2.custom.css',  :media => "screen, projection"

/[if IE]
  != stylesheet_link_tag 'blueprint/ie',  :media => "screen, projection"

= stylesheet_link_tag 'formtastic_changes', 'application', :media => 'all', :cache => "main"
%script{ src: "https://code.jquery.com/jquery-1.9.1.js"}
%script{ src: "https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"}
%script{ src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"}
= javascript_include_tag "application", :cache => "main"
= stylesheet_link_tag "tasks.css", :media => "all"
= csrf_meta_tag
