.holder
  %strong.logo
    %a{ :href => "#" }
      Project112012
  /
    menu
  %ul.menu
    - if logged_in?
      %li
        =I18n.t('gettext.hello')
        != link_to h(current_user.name), edit_user_path(current_user)
      %li
        [
        != link_to I18n.t('gettext.logout'), user_sessions_path, :method => :delete
        ]
    - else
      %li
        != link_to I18n.t('gettext.login'), login_path
      %li
        != link_to I18n.t('gettext.register'), signup_path
  %strong.slogan
    = I18n.t('gettext.system_name')
