%html{ "xml:lang" => "en", :lang => "en", :xmlns => "https://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %meta{ :content => "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ :property => "og:image", :content => "https://benyehuda.org/index.files/image002.jpg"}

    -# %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %title!= @page_title || h(controller.action_name)
    != render(:partial => "layouts/html_head")
    != yield :head
  %body
    .page
      / header
      #header
        .frame
          = render(:partial => 'layouts/logo_bar')
      / main
      #main
        / nav
        - render_tabs
        / area
        .area
          - site_notices
          != render :partial => 'layouts/flashes'
          != yield
    / footer
    #footer
      =_("Supported by")
      %br
      %img{ :src => asset_path('supported_by.jpg'), :width => '120', :height => '108'}
      %br
      - if current_user.try(:is_admin?)
        %div{ :align => "left" }
          != link_to "restart", restart_path, :method => :post, :confirm => "Really RESTART the server?"
