%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %title!= @page_title || h(controller.action_name)
    != render(:partial => "layouts/html_head")
    != yield :head
  %body
    .page
      / header
      #header
        .frame
          = render(:partial => 'layouts/logo_bar')
      / main
      #main
        / nav
        - render_tabs
        - site_notices
        / area
        .area
          != render :partial => 'layouts/flashes'
          != yield
    / footer
    #footer
      %h4=_("Footer")
      - if current_user.try(:is_admin?)
        != link_to "restart", restart_path, :method => :post, :confirm => "Really RESTART the server??!"
